In [1]:
#### Steps 
# import the csv file into a pandas df
# clean the table name and remove all extra symbols, spaces, capital letters
# write the create table SQL statement
# import the data into the db

In [2]:
# import libraries 
# conda install psycopg2
# pip install psycopg2

import os
import numpy as np
import pandas as pd
import psycopg2

In [23]:
df1 = pd.read_csv('./../mockdata/MOCK_DATA_1.csv')
df2 = pd.read_csv('./../mockdata/MOCK_DATA_2.csv')
df3 = pd.read_csv('./../mockdata/MOCK_DATA_3.csv')

df = pd.concat([df1,df2,df3], ignore_index=True)
df

,id,created_at,first_name,last_name,email_address,phone,address,city,state,zipcode
0,1,11/12/2022,Coleborn,Kennifick,bkennifick0@jalbum.net,969-609-6213,9 Little Fleur Pass,Licupis,NaN,NaN
1,2,1/12/2023,Hixson,Ranyelld,dranyelld1@pinterest.com,188-924-1780,90 Eastwood Way,Giesteira,Viana do Castelo,4950-830
2,3,5/1/2023,Eilhart,Pollastrino,rpollastrino2@wisc.edu,200-966-3694,7375 Corben Plaza,Haiphong,NaN,NaN
3,4,3/27/2023,Rajchert,Botten,abotten3@statcounter.com,373-234-1049,5593 Lotheville Parkway,Sidu,NaN,NaN
4,5,10/17/2022,Incogna,Pappin,epappin4@ifeng.com,103-335-3131,1646 Duke Road,Detchino,NaN,249080
...,...,...,...,...,...,...,...,...,...,...
2995,996,2/10/2023,Gresty,Soulsby,psoulsbyrn@nps.gov,427-855-2855,4865 Ridge Oak Court,Czchów,NaN,32-860
2996,997,8/25/2022,Wilstead,Sambals,psambalsro@vk.com,388-616-6522,52133 Dakota Terrace,Pingdi,NaN,NaN
2997,998,9/22/2022,Sivill,Chelley,achelleyrp@vinaora.com,878-364-5680,9448 Summit Lane,Kristiansund N,More og Romdal,6517
2998,999,7/23/2022,Beverstock,Gallety,tgalletyrq@wunderground.com,728-479-9309,6558 Bunting Hill,Cerrito,NaN,NaN
2999,1000,10/17/2022,Blade,Mersey,amerseyrr@creativecommons.org,185-900-1278,7 Hoffman Place,Hudlice,NaN,267 03

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3000 non-null   int64
 1   created_at     3000 non-null   object
 2   first_name     3000 non-null   object
 3   last_name      3000 non-null   object
 4   email_address  3000 non-null   object
 5   phone          3000 non-null   object
 6   address        3000 non-null   object
 7   city           3000 non-null   object
 8   state          506 non-null    object
 9   zipcode        1439 non-null   object
dtypes: int64(1), object(9)
memory usage: 234.5+ KB